<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step
        :complete="e1 > 1"
        step="1"
      >
        Data Diri
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
        :complete="e1 > 2"
        step="2"
      >
        Upload Foto
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step 
        :complete="e1 > 3"
        step="3">
        Data Tambahan
      </v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="4">
        Selesai
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <validation-observer
            ref="observer"
            v-slot="{ invalid }"
        >
            <form @submit.prevent="submit">
            <validation-provider
                v-slot="{ errors }"
                name="Name"
                rules="required"
            >
                <v-text-field
                v-model="data.name"
                :error-messages="errors"
                label="Name"
                required
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="NIK"
                rules="required|nik"
            >
                <v-text-field
                v-model="data.nik"
                :error-messages="errors"
                label="NIK"
                required
                type="number"
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="NKK"
                rules="required"
            >
                <v-text-field
                v-model="data.nkk"
                :error-messages="errors"
                label="Nomor Kartu Keluarga"
                required
                type="number"
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="Umur"
                rules="required|umur"
            >
                <v-text-field
                v-model="data.umur"
                :error-messages="errors"
                label="Umur"
                required
                type="number"
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="Gender"
                rules="required"
            > 
                <v-label>Jenis Kelamin</v-label>
                <v-radio-group
                  v-model="data.gender"
                  :error-messages="errors"
                  row
                  required
                >
                  <v-radio label="Laki-laki" value="Laki-laki"></v-radio>
                  <v-radio label="Perempuan" value="Perempuan"></v-radio>
                </v-radio-group>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="Alamat"
                rules="required|max:255"
            >
                <v-text-field
                v-model="data.alamat"
                :error-messages="errors"
                label="Alamat"
                required
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="Rt"
                rules="required"
            >
                <v-text-field
                v-model="data.rt"
                :error-messages="errors"
                label="Rt"
                required
                type="number"
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="Rw"
                rules="required"
            >
                <v-text-field
                v-model="data.rw"
                :error-messages="errors"
                label="Rw"
                required
                type="number"
                ></v-text-field>
            </validation-provider>
            <v-btn
                class="mr-4"
                :disabled="invalid"
                @click ="e1 = 2"
                color = "primary"
            >
                Continue
            </v-btn>
        <v-btn text @click="home">
          Cancel
        </v-btn>
            </form>
        </validation-observer>

      </v-stepper-content>

      <v-stepper-content step="2">
            <validation-observer
            ref="observer"
            v-slot="{ invalid }"
            >
                <validation-provider
                v-slot="{ errors }"
                name="Foto Ktp"
                rules="required|photo"
                >
                    <v-label>Foto Ktp</v-label>
                    <v-file-input
                        show-size
                        v-model="data.photo_ktp"
                        accept="image png, image/jpeg, image/bmp"
                        placeholder="Pick an avatar"
                        prepend-icon="mdi-camera"
                        label="Foto Ktp"
                        required
                        :error-messages="errors"
                        ref="photo"
                    ></v-file-input>
                </validation-provider>
                <validation-provider
                v-slot="{ errors }"
                name="Foto Kartu Keluarga"
                rules="required|photo"
                >
                    <v-label>Foto Kartu Keluarga</v-label>
                    <v-file-input
                        show-size
                        v-model="data.photo_kk"
                        accept="image png, image/jpeg, image/bmp"
                        placeholder="Pick an avatar"
                        prepend-icon="mdi-camera"
                        label="Foto Kartu keluarga"
                        required
                        :error-messages="errors"
                    ></v-file-input>
                </validation-provider>
                <v-btn
                class="mr-4"
                :disabled="invalid"
                @click ="e1 = 3"
                color="primary"
                >
                Continue
                </v-btn>
                <v-btn
                color="warning"
                @click="e1 = 1"
                >
                Back
                </v-btn>

                <v-btn text @click="home">
                Cancel
                </v-btn>
            </validation-observer>
      </v-stepper-content>

      <v-stepper-content step="3">
        <validation-observer
            ref="observer"
            v-slot="{ invalid }"
        >
            <form @submit.prevent="submit">
            <validation-provider
                v-slot="{ errors }"
                name="sebelum"
                rules="required"
            >
                <v-text-field
                v-model="data.Psebelum"
                :error-messages="errors"
                label="Penghasilan Sebalum Pandemi"
                type="number"
                required
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="sesudah"
                rules="required"
            >
                <v-text-field
                v-model="data.Psesudah"
                :error-messages="errors"
                label="Penghasilan Sesudah Pandemi"
                required
                type="number"
                ></v-text-field>
            </validation-provider>
            <validation-provider
                v-slot="{ errors }"
                name="alasan"
                rules="required"
            >
                <v-checkbox v-model="data.alasan" label="Kehilangan pekerjaan" value="Kehilangan pekerjaan"></v-checkbox>
                <v-checkbox v-model="data.alasan" label="Kepala keluarga terdampak atau korban Covid" value="Kepala keluarga terdampak atau korban Covid"></v-checkbox>
                <v-checkbox v-model="data.alasan" label="Tergolong fakir/miskin semenjak sebelum Covid" value="Tergolong fakir/miskin semenjak sebelum Covid"></v-checkbox>
                <v-checkbox v-model="data.alasan" value=";" hide-details></v-checkbox>
                  <v-text-field
                  v-model="alasan_lain"
                  :disabled="data.alasan.includes(';') ? false : true"
                  :error-messages="errors"
                  label="Lainnya"
                  required
                  ></v-text-field>
            </validation-provider>
            <validation-provider
                name="confirm"
                rules="required|confirm"
            >
                <v-checkbox v-model="data.confirm" label="Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan apabila ditemukan ketidaksesuaian dalam data tersebut."></v-checkbox>
            </validation-provider>
             <v-btn
                    class="mr-4"
                    :disabled="invalid"
                    @click ="submit"
                    color="primary"
                >
                    Submit
              </v-btn>
              <v-btn text @click="home">
                Cancel
              </v-btn>
            </form>
              <v-overlay :value="overlay">
                <v-progress-circular
                  indeterminate
                  size="64"
                ></v-progress-circular>
              </v-overlay>
        </validation-observer>
      </v-stepper-content>
      <v-stepper-content step="4">
        Registrasi Berhasil

        <v-btn
          color="primary"
          @click="home"
        >
          Done
        </v-btn>

        <v-btn text>
          Cancel
        </v-btn>
      </v-stepper-content>
      <v-stepper-content step="5">
        Registrasi Gagal
        Request Time Out
        <v-btn
          color="primary"
          @click="home"
        >
          Back
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { required, max, min } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

  setInteractionMode('eager')

  extend('min', {
    ...min,
    message: '{_field_} must at least {length} characters',
  })

  extend('required', {
    ...required,
    message: '{_field_} tidak boleh kosong',
  })

  extend('max', {
    ...max,
    message: '{_field_} tidak boleh lebih dari {length} characters',
  })


  extend('umur', value => {
    if(value >= 25){
      return true
    }
    return '{_field_} minimal 25 tahun'
  })
  extend('photo', value => {
    if(value.size < 2000000 ){
      return true
    }
    return '{_field_} file tidak boleh lebih dari 2 Mb'
  })
  extend('confirm', value => {
    if(value == true ){
      return true
    }
    return 'Mohon konfirmasi '
  })
  extend('nik', value => {
    if(value.length == 16 ){
      return true
    }
    return 'Mohon Masukan 16 digit nomor KTP'
  })
export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data(){
        return {
          data :{
            nik : '',
            name : '',
            nkk : '',
            alamat : '',
            umur : '',
            gender : '',
            rt :'',
            rw : '',
            photo_ktp :[],
            photo_kk :[],
            Psebelum: '',
            Psesudah: '',
            alasan :[],
            confirm : false,
          },
            alasan_lain:'',
            e1 : 1,
            enabled : false,
            responsetime : Math.random()*1500+100,
            overlay : false
        }
    },
    methods :{
        home (){
           this.$router.go()
        },
        submit(){
            let x = this.data.alasan.indexOf(';')
            if(x != -1){
              this.data.alasan.splice(x,1)
              this.data.alasan.push(this.alasan_lain)
            }
            this.responsetime = Math.random()*1500+100
            this.overlay = ! this.overlay
            setTimeout(()=>{
                if(this.responsetime <= 1500){
                  console.log(this.data)
                  console.log(this.responsetime)
                  this.e1=4
                } else {
                  console.log(this.responsetime)
                  alert("Request Time Out")
                  this.e1=5
                }
                this.overlay = false
              },this.responsetime)
        },
      },
}
</script>
